@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
body {
  position: relative;
  font-weight: 400px;
  padding-top: 100px;
  font-family: 'YiSunShinDotumM';
}

#select-cat-brand td{
  padding-right: 45px;
  padding-bottom: 10px;
}

#select-cat-brand td:last-child{
  padding-right: 0;
}

#searchwind{
  margin-bottom: 8px;
}